/**
 * The style of the woocommerce compare products
 */

/* ###############
FIXED COLUMNS
##############*/

table.DTFC_Cloned thead, table.DTFC_Cloned tfoot{
    background-color:white;
}
div.DTFC_Blocker{
    background-color:white;
}
div.DTFC_LeftWrapper table.dataTable,
div.DTFC_RightWrapper table.dataTable{
    margin-bottom:0;
    z-index:2;
}
div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer{
    border-bottom:none;
}

/*############################
 * COMPARE
#############################*/

body {
    font-family: "NeutraTextTF", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.51em;
    color: #4F4F4F;
    background: none !important;
    margin: 0;
}

body h1 {
    background: #193a43;
    color: #fff;
    font-weight: 700;
    padding: 18px;
    display: block;
    text-transform: uppercase;
    font-size: 1.076em;
    margin: 0;
    text-align: center;
}

table.dataTable.compare-list tr {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
}
table.dataTable.compare-list tr:nth-child( 2n + 1 ) {
    background-color: #f2f2f2;
}
table.dataTable.compare-list thead th,
table.dataTable.compare-list thead td,
table.dataTable.compare-list tfoot td,
table.dataTable.compare-list tfoot th {
    border: 0;
    vertical-align: middle;
}
.DTFC_LeftFootWrapper table.compare-list,
.DTFC_LeftHeadWrapper table.compare-list {
    border: 0;
}

table.compare-list td {
    width: 20%;
    box-sizing: border-box;
    min-width: 220px;
    text-align: center;
    vertical-align: middle;
}

table.compare-list {
    width: 100%;
    border-bottom: 0;
    border-top: 0;
    margin: 0;
    table-layout: auto;
}

table.compare-list tbody th {
    width: 20%;
    box-sizing: border-box;
    min-width: 150px;
    overflow: hidden;
    text-align: left;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
}

.rtl table.compare-list tbody th {
    text-align: right;
}

table.dataTable.compare-list tbody th,
table.dataTable.compare-list tbody td {
    border-right: 1px solid #e7e7e7;
    border-bottom: none;
    border-left: none;
    padding: 10px;
    vertical-align: middle;
}
table.dataTable.compare-list tbody tr:last-child th,
table.dataTable.compare-list tbody tr:last-child td {
    border-bottom: 1px solid #e7e7e7;
}

table.compare-list tbody td.last-column {
    width: auto;
    border-right: 0;
}

#yith-woocompare-table_wrapper {
    margin: 10px 0;
}

table.dataTable.compare-list tbody .product_info td {
    vertical-align: top;
}

table.compare-list thead th a.close, h1 a.close {
    float: right;
    margin-right: 10px;
    font-weight: 600;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
}

table.compare-list .remove td a {
    color: #747373;
    text-decoration: none;
}

table.compare-list .remove td a:hover {
    color: #333333;
}

table.compare-list .remove td a .remove {
    border-radius: 100% 100% 100% 100%;
    color: red;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    height: 1em;
    line-height: 0.81em;
    text-align: center;
    text-decoration: none;
    width: 1em;
}

.yith-woocompare-widget ul.products-list a.remove {
    float: left;
}

table.compare-list .remove td a:hover .remove {
    background-color: red;
    color: #ffffff;
}

table.compare-list .add-to-cart td a:not(.unstyled_button) {
    display: inline-block;
    margin: 10px 0;
    background-color: #193a43;
    border: 0 none;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
}

table.compare-list .add-to-cart td a:not(.unstyled_button):hover {
    background: #538c9b;
    color: #fff;
}

table.compare-list .stock td span {
    color: #009900;
}

table.compare-list .stock td span.out-of-stock {
    color: #990000;
}

table.compare-list .price td {
    color: #193a43;
    font-weight: 700;
}


table.compare-list td img {
    height: auto;
    margin-bottom: 20px;
}

@media( max-width: 767px ) {
    table.compare-list tbody th {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        font-size: 12px;
    }
}
.compare-list > thead,
.compare-list > tfoot{
    line-height: 0;
}
.dataTables_scrollHead,
.dataTables_scrollFoot{
    display: none;
}
#yith-woocompare{
    overflow-y: scroll;
}