/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    padding: $block-module-padding;
    background: transparent;
    .wp-block-group__inner-container > h1,
    .wp-block-group__inner-container > h2,
    .wp-block-group__inner-container > h3,
    .wp-block-group__inner-container > h4,
    .wp-block-group__inner-container > h5,
    .wp-block-group__inner-container > h6{
        font-weight: 500;
        margin:0 0 15px;
        text-transform: uppercase;
        @media(min-width:1200px){
            margin-bottom: $theme-margin;
        }
        + ul{
            li{
                list-style: none;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
                &.current-cat-parent > a,
                &.current-cat > a{
                    color:$theme-color;
                }
            }
        }
    }
    .wp-block-group__inner-container > h2{
        font-size: 18px;
    }
    .#{$block-heading-selector}{
        font-size: 18px;
        font-weight: 500;
        margin:0 0 15px;
        text-transform: uppercase;
        @media(min-width:1200px){
            margin-bottom: $theme-margin;
        }
    }
}
// Sidebar
.sidebar,
.#{$app-prefix}-sidebar {
    .widget{
        margin: 0 0 30px;
        overflow:hidden;
        @media(min-width:1200px){
            margin: 0 0 50px;
        }
    }
    // widet porducts list
    .apus-products-list{
        border-style: solid;
        border-color: $border-color;
        border-width:0 1px 1px;
        .product-block{
            padding: 20px;
            margin: 0;
        }
    }
    // widget instagram
    .row.instagram-pics{
        margin-left: -6px;
        margin-right: -6px;
        > [class*="col-md"]{
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 12px;
        }
    }
    // widget single images
    .widget_apus_single_image{
        margin-bottom: 30px;
    }
}
// top bar
#apus-topbar{
    // widget info
    .info-topbar{
        .textwidget{
            > span{
                @include rtl-padding-right(10px);
                @include rtl-margin-right(10px);
                @include rtl-float-left();
                @include rtl-border-right(1px solid $border-color);
                &:last-child{
                    border: 0;
                }
            }
        }
        .fa{
            @include rtl-margin-right(8px);
        }
    }
}
// footer 
[class *="apus_footer"],
.apus-footer{
    .#{$block-heading-selector}{
        color: $footer-heding-title-color;
    }
    .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li{
        margin-bottom:20px;
    }
    // widget
    .wpml-ls-legacy-dropdown{
        .wpml-ls-sub-menu{
            bottom: 100%;
            top: inherit;
            @include translateY(-8px);
        }
        .wpml-ls-current-language:hover{
            .wpml-ls-sub-menu{
                @include translateY(0);
            }
        }
        a.wpml-ls-item-toggle{
            &:before{
                content: "\f109";
            }
            &:after{
                bottom: 100%;
                top: inherit;
            }
        }
    }
    .widget-woocommerce-currency-switcher{
        .dd-select{
            &:after{
                bottom: 100%;
                top: inherit;
            }
        }
        .dd-options{
            bottom: 100%;
            top: inherit;
            @include translateY(-8px);
        }
        &:hover{
            .dd-options{
                @include translateY(0);
            }
        }
        .dd-pointer:before{
            content: "\f109";
        }
    }
}

// header
[class *="apus_header"],
.apus-header{
    .widget_icl_lang_sel_widget{
        .title{
            display: none;
        }
        a.wpml-ls-item-toggle{
            font-size: 13px;
        }
    }
    .woocommerce-currency-switcher-form .dd-selected{
        font-size: 13px;
    }
}
// copyright
.apus-copyright{
    .wpb_content_element,
    .widget{
        margin-bottom: 0 !important;
    } 
    .menu li{
        display: inline-block;
        @include rtl-margin-right(10px);
        margin-bottom:0;
        &:last-child{
            margin:0;
        }
    } 
}